*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

span{
  color: green;
}

button{
  padding: 10px 25px;
  background: green;
  color: #fff;
  border-radius: 20px 0 20px 0;
  border: none;
  transition: .5s;
}

button:hover{
  box-shadow: 0 0 4px 2px #000;
  color: #000;
}

a{
  color: black;
}